body{
  background-color: #04060B;
}

.App{
  min-height: 500px;
  margin: 40px auto;
  display:flex;
  /* flex-direction: column; */
  justify-content: space-around;
}

#toDo input{
  background-color: #A5A9BF;
  border: 0;
  width: 215px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 8px;
}

#toDo input::placeholder{
  color:  #1b1b74;
}

#toDo input:focus, #toDo button:focus{
  outline: none;
}

#toDo button{
  height: 43px;
  width: 71px;
  border-radius: 6px;
  border: 0;
  background-color:#DB6043;
  cursor: pointer;
  color: #fff;
  font-weight: 100;
}

#left-container{
  background-color: #4E5562;
  width: 350px;
}
#right-container{
   width: 950px; 
}