.list{
    background-color: #04060B ;
    min-height: 48px;
    margin: 20px 1em;
    border-radius: 7px;
}

.list p{
    color: #fff;
    padding: 12px;
    position: relative;
}

.list p span{
    position: absolute;
    right: 8px;
    cursor: pointer;
}



.rrow{ display: flex; flex-flow: row; }
.ccol-md-7{ width: 70%; }
.ccol-md-3{ width: 30%; }
.text{ margin:0; color: #fff; font-size: 18px; }
.icons{ }
.edit_field{
    border: none;
    border-radius: 7px 0 0 7px;
    padding: 0 1em;
    font-size: 18px;
}
.submit_edit{
    background: transparent;
    border: none;
    width: 100%;
    border-radius: 0 7px 7px 0;
}

.faIcons{
    color: #fff;
    margin: 8px;
    font-size: 27px;
}
